.navbar-brand {
  font-family: "Dancing Script", cursive;
  font-size: 30px;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.jumbotron {
  background-image: url(img/jumbotron.jpg);
  background-size: cover;
  height: 500px;
  color: white;
  text-shadow: 1px 3px 1px rgba(0, 2, 0, 0.9);
  text-align: center;
}

.jumbotron .display-4 {
  font-family: "Yeseva One", cursive;
  color: white;
  text-align: center;
  margin-top: 100px;
  font-weight: 200;
  text-shadow: 1px 3px 1px rgba(2, 2, 0, 0.9);
  font-size: 40px;
}

.box {
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.7);
  background-color: white;
  margin: 40px;
  margin-bottom: -40px;
}

.box p {
  margin-top: -20px;
  padding: 20px;
}

.box h4 {
  text-align: center;
}

.box img {
  width: 700px;
  height: 250px;
  margin-bottom: 20px;
}

.section-title h2 {
  text-align: center;
}

.container h2 {
  text-align: center;
  margin-top: 75px;
  margin-bottom: 20px;
  font-weight: 500;
}

.container .figure img {
  height: 190px;
  width: 240px;
  margin-left: 87px;
  margin-top: 20px;
}

.container .box p {
  font-family: "Marcellus", serif;
}

.container .box h4 {
  font-family: "Paytone One", sans-serif;
}

.container .card-body h5 {
  font-family: "Handlee", cursive;
}

@media (min-width: 992px) {
  .box {
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.7);
    background-color: white;
    margin: 35px;
    margin-bottom: -40px;
    width: 350px;
  }

  .jumbotron {
    height: 600px;
    color: white;
    text-shadow: 1px 3px 1px rgba(0, 2, 0, 0.9);
    text-align: center;
  }

  .container .figure img {
    height: 290px;
    width: 340px;
    margin-left: 27px;
    margin-top: 20px;
  }
}
